@font-face {
    font-family: 'Cormorant SC';
    src: url('../fonts/CormorantSC-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Cormorant SC';
    src: url('../fonts/CormorantSC-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Cormorant SC';
    src: url('../fonts/CormorantSC-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Cormorant SC';
    src: url('../fonts/CormorantSC-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Cormorant SC';
    src: url('../fonts/CormorantSC-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
}
