.fa {
  -webkit-filter: drop-shadow(0px 0px 2px var(--shadow-fa, rgba(255, 255, 255, .6)));
  filter: drop-shadow(0px 0px 2px var(--shadow-fa, rgba(255, 255, 255, .6)));

  &:hover{
    filter: drop-shadow(0px 0px 5px var(--shadow-fa-active, rgba(255, 255, 255, .8)));
  }

  &::before{
    display: block;
    max-width: 2em;
    margin: 0 auto;
  }

  &.fa-close::before {
    content: url(../img/icons/close.svg?color=white);
  }
  &.fa-home::before {
    content: url(../img/icons/home.svg);
  }
  &.fa-bookmark::before {
    content: url(../img/icons/bookmark.svg);
  }
  &.fa-square-stack::before {
    content: url(../img/icons/square-stack.svg);
  }
  &.fa-business::before {
    content: url(../img/icons/business.svg);
  }
  &.fa-shopping-cart::before {
    content: url(../img/icons/shopping-cart.svg);
  }
  &.fa-selling::before {
    content: url(../img/icons/tag.svg);
  }
  &.fa-renting::before {
    content: url(../img/icons/document-currency-dollar.svg);
  }
  &.fa-chat-bubble::before {
    content: url(../img/icons/chat-bubble.svg);
  }
  &.fa-bars::before {
    content: url(../img/icons/arrow-left-circle.svg);
  }
}

.icon-offcanvas-menu {
  display: none;
}

.logo-ico::before {
  content: url(../favicon.svg);
}

@media (max-device-width: 991px) {
  .icon-mobile-offcanvas-menu {
    display: block;
  }
}
@media (min-device-width: 992px) {
  .icon-mobile-offcanvas-menu {
    display: none;
  }
}
